<article class="event-card">
  <a href="{{ .context.RelPermalink }}">

    <div class="article-details">
      <h2 class="article-title">
        {{ .context.Title }}
      </h2>

      <div class="article-meta">
        <span class="article-date">
          {{ .context.Date | time.Format "Mon 2 January 2006" }}
          {{ with .context.Params.end }}
            · {{ $.context.Date | time.Format "15:04" }}–{{ time.Format "15:04" . }}
          {{ end }}
        </span>

        {{ with .context.Params.location }}
          <span class="article-category">
            {{ . }}
          </span>
        {{ end }}
      </div>

    </div>

  </a>
</article>
