{{ define "main" }}

    <section class="article-list--tile">
      <h2 class="section-title">Upcoming events</h2>

      {{ range first 6 (sort (where site.RegularPages "Section" "events") "Date") }}
        {{ partial "article-list/tile" (dict "context" . "size" "250x150") }}
      {{ end }}
    </section>


    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $filtered := where $pages "Params.hidden" "!=" true }}
    {{ $pag := .Paginate ($filtered) }}

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
